<div class="row  ">

  <div class="col-sm-8">
    <div class="w3-panel msg w3-leftbar">
      <span style="font-size:150px;line-height:0.6em;opacity:0.7">❝</span>
      <p class="w3-xlarge" style="margin-top:-10px">
        <i>Only one who devotes himself to a cause with his whole strength and soul can be a true master. For this reason mastery demands all of a person.</i>
      </p>
    </div>
  </div>

  <div class="col-sm-4">
    <img   src="../../../assets/img/wallpaper/einstein-png-17.png " style="float: right; width: 50%">
  </div>


</div>
<app-lesson-row style="margin-top: -100px">

</app-lesson-row>
 