.main{
    //background-image: url(../../../assets/img/img.png);
    //background-repeat: no-repeat;
    //background-size: cover;
    //background-attachment: fixed;
    //background-position: center;
}  
.msg{
    background-color: rgba(240, 227, 217, 0.966);
    color: rgb(0, 0, 0);
}
.msg{
    background-color: rgba(255, 91, 139, 0.55);
    color: #FFFFFF;
}