


<div class='container'>
    <div class="jumbotron">
    <h4 class="">Read the following word list. Each word has a silent letter. Put them into the
        correct column. </h4>
    <br/>
    <br/>

    <span class="draggable" id="drag1" draggable="true" (dragstart)="drag($event)">Island</span>
    <span class="draggable" id="drag2" draggable="true" (dragstart)="drag($event)">should</span>

    <span class="draggable" id="drag3" draggable="true" (dragstart)="drag($event)">could</span>
    <span class="draggable" id="drag4" draggable="true" (dragstart)="drag($event)">autumn</span>

    <span class="draggable" id="drag5" draggable="true" (dragstart)="drag($event)">knock </span>
    <span class="draggable" id="drag6" draggable="true" (dragstart)="drag($event)">estle </span>

    <span class="draggable" id="drag7" draggable="true" (dragstart)="drag($event)">column</span>
    <span class="draggable" id="drag8" draggable="true" (dragstart)="drag($event)">bustle</span>
    <span class="draggable" id="drag9" draggable="true" (dragstart)="drag($event)">aisle</span>
    <br/>
    <br/>
    <br/>
    <br/>
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">Silent S</th>
            <th scope="col">Silent L</th>
            <th scope="col">Silent K</th>
            <th scope="col">Silent N</th>
            <th scope="col">Silent T</th>
        </tr>
        </thead>
        <tbody>
        <tr class="table-active">
            <th scope="row">
                <div (drop)="drop($event)" id="div1" (dragover)="allowDrop($event)"
                ></div>
            </th>
            <td>
                <div id="div2" (drop)="drop($event)" (dragover)="allowDrop($event)"></div>
            </td>
            <td>
                <div id="div3" (drop)="drop($event)" (dragover)="allowDrop($event)"></div>
            </td>
            <td>
                <div id="div4" (drop)="drop($event)" (dragover)="allowDrop($event)"></div>
            </td>
            <td>
                <div id="div5" (drop)="drop($event)" (dragover)="allowDrop($event)"></div>
            </td>
        </tr>
        <tr>
            <th scope="row">
                <div id="div6" (drop)="drop($event)" (dragover)="allowDrop($event)"></div>
            </th>
            <td>
                <div id="div7" (drop)="drop($event)" (dragover)="allowDrop($event)"></div>
            </td>
            <td>
                <div id="div8" (drop)="drop($event)" (dragover)="allowDrop($event)"></div>
            </td>
            <td>
                <div id="div9" (drop)="drop($event)" (dragover)="allowDrop($event)"></div>
            </td>
            <td>
                <div id="div10" (drop)="drop($event)" (dragover)="allowDrop($event)"></div>
            </td>
        </tr>

        </tbody>
    </table>

    <button style="text-align: center" (click)="answ()" class="w3-btn anim-btn w3-wide w3-green w3-round-xxlarge">
        <div *ngIf=" success">
            <h3 *ngIf=" uploaded" style="color: white"><strong>
                <div class="sk-circle  ">
                    <div class="sk-circle1 sk-child"></div>
                    <div class="sk-circle2 sk-child"></div>
                    <div class="sk-circle3 sk-child"></div>
                    <div class="sk-circle4 sk-child"></div>
                    <div class="sk-circle5 sk-child"></div>
                    <div class="sk-circle6 sk-child"></div>
                    <div class="sk-circle7 sk-child"></div>
                    <div class="sk-circle8 sk-child"></div>
                    <div class="sk-circle9 sk-child"></div>
                    <div class="sk-circle10 sk-child"></div>
                    <div class="sk-circle11 sk-child"></div>
                    <div class="sk-circle12 sk-child"></div>
                </div>
            </strong></h3>
            <h3 *ngIf=" !uploaded" class=" " style="color: white"><strong>SUBMIT</strong></h3>
        </div>
        <div *ngIf=" !success">
            <h3 style="color: white"><strong>DONE!</strong></h3>
        </div>

    </button>

    </div>
</div>