.draggable {background-color:#00ff00;margin:5px;padding:3px;}
      #div1,#div2,#div3,#div4,#div5,#div6,#div6,#div7,#div8,#div9,#div10 {display:inline-block;min-width:55px;min-height:10px;
        border-style:solid;border-width:0px;border-bottom-width:2px;
    }

      .step {
        height: 25px;
        width: 25px;
        margin: 0 2px;
        background-color: #dd2f2f;
        border: none;  
        border-radius: 50%;
        display: inline-block;
        opacity: 0.4;
      }
      
      .step.active {
        opacity: 1;
      }
      
      /* Mark the steps that are finished and valid: */
      .step.finish {
        background-color: rgb(0, 233, 8);
      }