<!-- <div class="container" style="text-align:center ">

  <div class="row">
    <div class="col-sm-6">
      <div class="row">
        <div class="col-sm-6">
          <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
            <div class="card-header">Header</div>
            <div class="card-body">
              <h4 class="card-title">Primary card title</h4>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div> 
        </div>
        <div class="col-sm-6">
          <div class="card text-white bg-secondary mb-3" style="max-width: 20rem;">
            <div class="card-header">Header</div>
            <div class="card-body">
              <h4 class="card-title">Secondary card title</h4>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div> 
        </div> 
      </div> 
    </div>
    <div class="col-sm-6">
      <div class="row">
        <div class="col-sm-6">
          <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
            <div class="card-header">Header</div>
            <div class="card-body">
              <h4 class="card-title">Primary card title</h4>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div> 
        </div>
        <div class="col-sm-6">
          <div class="card text-white bg-secondary mb-3" style="max-width: 20rem;">
            <div class="card-header">Header</div>
            <div class="card-body">
              <h4 class="card-title">Secondary card title</h4>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div> 
        </div> 
      </div> 
    </div> 
  </div> 
<div class="row">
    <div class="col-sm-6">
      <div class="row">
        <div class="col-sm-6">
          <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
            <div class="card-header">Header</div>
            <div class="card-body">
              <h4 class="card-title">Primary card title</h4>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div> 
        </div>
        <div class="col-sm-6">
          <div class="card text-white bg-secondary mb-3" style="max-width: 20rem;">
            <div class="card-header">Header</div>
            <div class="card-body">
              <h4 class="card-title">Secondary card title</h4>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div> 
        </div> 
      </div> 
    </div>
    <div class="col-sm-6">
      <div class="row">
        <div class="col-sm-6">
          <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
            <div class="card-header">Header</div>
            <div class="card-body">
              <h4 class="card-title">Primary card title</h4>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div> 
        </div>
        <div class="col-sm-6">
          <div class="card text-white bg-secondary mb-3" style="max-width: 20rem;">
            <div class="card-header">Header</div>
            <div class="card-body">
              <h4 class="card-title">Secondary card title</h4>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div> 
        </div> 
      </div> 
    </div> 
  </div> 

  <div class="row">
      <div class="col-sm-6">
        <div class="row">
          <div class="col-sm-6">
            <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
              <div class="card-header">Header</div>
              <div class="card-body">
                <h4 class="card-title">Primary card title</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
            </div> 
          </div>
          <div class="col-sm-6">
            <div class="card text-white bg-secondary mb-3" style="max-width: 20rem;">
              <div class="card-header">Header</div>
              <div class="card-body">
                <h4 class="card-title">Secondary card title</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
            </div> 
          </div> 
        </div> 
      </div>
      <div class="col-sm-6">
        <div class="row">
          <div class="col-sm-6">
             
          </div>
          <div class="col-sm-6">
             
          </div> 
        </div> 
      </div> 
    </div> 

</div> -->


<!--<div class="fluid-container" style="padding:10px; text-align:center;">
    <div class="row">
        <div routerLink="/lesson" class="col-lg-2 col-sm-6 ">
            <div class="card border-primary mb-3" style="max-width: 18rem;">
                <div class="card-header">Lesson 01</div>
                <div class="card-body text-primary">
                    <h5 class="card-title">PLAN THE WORK - WORK THE PLAN</h5>
                    <p class="card-text">Identifies the sounds of English Language.</p>
                </div>
            </div>
        </div>
        <div routerLink="/lessonTwo" class="col-lg-2   col-sm-6 ">
            <div class="card border-secondary mb-3" style="max-width: 18rem;">
                <div class="card-header">Lesson 02</div>
                <div class="card-body text-secondary">
                    <h5 class="card-title">WINGED FRIENDS</h5>
                    <p class="card-text">Uses Mechanics of Writing with Understanding.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-2   col-sm-6 ">
            <div class="card border-success mb-3" style="max-width: 18rem;">
                <div class="card-header">Lesson 03</div>
                <div class="card-body text-success">
                    <h5 class="card-title">LET'S BE CONSIDERATE</h5>
                    <p class="card-text">Identifies the sounds of English Language. </p>

                </div>
            </div>
        </div>
        <div class="col-lg-2   col-sm-6 ">
            <div class="card border-danger mb-3" style="max-width: 18rem;">
                <div class="card-header">Lesson 04</div>
                <div class="card-body text-danger">
                    <h5 class="card-title">MOTHER NATURE</h5>
                    <p class="card-text">Identifies the sounds of English Language.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-2   col-sm-6 ">
            <div class="card border-warning mb-3" style="max-width: 18rem;">
                <div class="card-header">Lesson 05</div>
                <div class="card-body text-warning">
                    <h5 class="card-title">BETWEEN THE MILES</h5>
                    <p class="card-text">Identifies the sounds of English Language.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-2   col-sm-6 ">
            <div class="card border-info mb-3" style="max-width: 18rem;">
                <div class="card-header">Lesson 06</div>
                <div class="card-body text-info">
                    <h5 class="card-title">WHEN WE ARE TOGETHER</h5>
                    <p class="card-text">Identifies the sounds of English Language.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-2   col-sm-6 ">
            <div class="card border-secondary mb-3" style="max-width: 18rem;">
                <div class="card-header">Lesson 07</div>
                <div class="card-body text-secondary">
                    <h5 class="card-title">THE WORLD OF CHILDREN</h5>
                    <p class="card-text">Identifies the sounds of English Language.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-2   col-sm-6 ">
            <div class="card border-danger mb-3" style="max-width: 18rem;">
                <div class="card-header">Lesson 08</div>
                <div class="card-body text-danger">
                    <h5 class="card-title">IT'S A SMALL WORLD</h5>
                    <p class="card-text">Identifies the sounds of English Language.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-2   col-sm-6 ">
            <div class="card border-success mb-3" style="max-width: 18rem;">
                <div class="card-header">Lesson 09</div>
                <div class="card-body text-success">
                    <h5 class="card-title">ON THE TOP OF THE WORLD</h5>
                    <p class="card-text">Identifies the sounds of English Language.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-2   col-sm-6 ">
            <div class="card border-info mb-3" style="max-width: 18rem;">
                <div class="card-header">Lesson 10</div>
                <div class="card-body text-info">
                    <h5 class="card-title">BEYOND THE CLASSROOM</h5>


                </div>
            </div>
        </div>
    </div>-->


    <div class="fluid-container" style="padding:10px; text-align:center;">
        <div class="row">
            <div class="col-lg-2   col-sm-6  ">
                <div style="width: 200px; height: 200px; background-image: url('./assets/img/wallpaper/Mars_transparent.png') ; background-size: 100% 100%;">
                    <h3 style=" color: white;   padding: 70px 0; display: block">PLAN THE WORK-WORK THE PLAN</h3>
                </div>
            </div>

            <div class="col-lg-2   col-sm-6 ">
                <div style="width: 200px; height: 200px; background-image: url('../../../../assets/img/wallpaper/yellowplanet.png') ; background-size: 100% 100%;">
                    <h3 style=" color: white;   padding: 70px 0; display: block">WINGED FRIENDS</h3>
                </div>
            </div>

            <div class="col-lg-2   col-sm-6 ">
                <div style="width: 200px; height: 200px; background-image: url('../../../../assets/img/wallpaper/blueplanet.png') ; background-size: 100% 100%;">
                    <h3 style=" color: white;   padding: 70px 0; display: block">LET'S BE CONSIDERATE</h3>
                </div>
            </div>
            <div class="col-lg-2   col-sm-6 ">
                <div style="width: 200px; height: 200px; background-image: url('../../../../assets/img/wallpaper/pluto.png') ; background-size: 100% 100%;">
                    <h3 style=" color: white;   padding: 70px 0; display: block">MOTHER NATURE</h3>
                </div>
            </div>
            <div class="col-lg-2   col-sm-6 ">
                <div style="width: 200px; height: 200px; background-image: url('../../../../assets/img/wallpaper/PLANET.png') ; background-size: 100% 100%;">
                    <h3 style=" color: white;   padding: 70px 0; display: block">BETWEEN THE MILES</h3>
                </div>
            </div>
            <div class="col-lg-2   col-sm-6 ">
                <div style="width: 200px; height: 200px; background-image: url() ; background-size: 100% 100%;">
                </div>
            </div>




            <div class="col-lg-2   col-sm-6 "style="margin-top:10px; ">
                <div style="width: 200px; height: 200px; background-image: url('./assets/img/wallpaper/blueplanet.png') ; background-size: 100% 100%;">
                    <h3 style=" color: white;   padding: 70px 0; display: block">WHEN WE ARE TOGETHER</h3>
                </div>
            </div>

            <div class="col-lg-2   col-sm-6 "style="margin-top:10px; ">
                <div style="width: 200px; height: 200px; background-image: url('../../../../assets/img/wallpaper/pluto.png') ; background-size: 100% 100%;">
                    <h3 style=" color: white;   padding: 70px 0; display: block">THE WORLD OF CHILDREN</h3>
                </div>
            </div>

            <div class="col-lg-2   col-sm-6 "style="margin-top:10px; ">
                <div style="width: 200px; height: 200px; background-image: url('../../../../assets/img/wallpaper/Mars_transparent.png') ; background-size: 100% 100%;">
                    <h3 style=" color: white;   padding: 70px 0; display: block">IT'S SMALL WORLD</h3>
                </div>
            </div>
            <div class="col-lg-2   col-sm-6 "style="margin-top:10px; ">
                <div style="width: 200px; height: 200px; background-image: url('../../../../assets/img/wallpaper/PLANET.png') ; background-size: 100% 100%;">
                    <h3 style=" color: white;   padding: 70px 0; display: block">ON THE TOP OF THE WORLD</h3>
                </div>
            </div>
            <div class="col-lg-2   col-sm-6 "style="margin-top:10px; ">
                <div style="width: 200px; height: 200px; background-image: url('../../../../assets/img/wallpaper/yellowplanet.png') ; background-size: 100% 100%;">
                    <h3 style=" color: white;   padding: 70px 0; display: block">BEYOND THE CLASSROOM</h3>
                </div>
            </div>

        </div>>

    </div>








