<div class="container">
    <div class="card ">
        <div class="jumbotron" style=" ">
            <form>
                <fieldset>
                    <div class="row">
                        <div class="col">
                            <legend>Activity</legend>
                            <select [ngModelOptions]="{standalone: true}" (change)="selected()"
                                    [(ngModel)]="activityNumber" class="form-control" id="activity">
                                <option>Select activity</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                        </div>
                        <div class="col">

                            <legend>Student</legend>
                            <select [ngModelOptions]="{standalone: true}" (change)="selected()" [(ngModel)]="student"
                                    class="form-control" id="student">
                                <option>Select student</option>
                                <option *ngFor="let x of unames">{{x.username}}</option>

                            </select>
                        </div>
                    </div>

                </fieldset>
            </form>

            <div *ngIf="activityNumber=='1'" class="jumbotron" style=" ">
                <form (change)="letterChange()">
                    <fieldset>
                        <div>
                            <br>
                            <div class="card text-white bg-dark mb-3"  >
                                <div class="card-header">Senders address</div>
                                <div class="card-body">
                                    <h4>{{jsonActivity1.sender_add}}</h4>
                                </div>
                            </div>
                            <input [ngModelOptions]="{standalone: true}" [(ngModel)]="senderAddMarks" type="number"
                                   max="25" value="0" min="0" id="s_marks">


                            <br>
                            <br>

                            <div class="card text-white bg-dark mb-3"  >
                                <div class="card-header">Recipient address</div>
                                <div class="card-body">
                                    <h4>{{jsonActivity1.recipient_add}}</h4>
                                </div>
                            </div>
                            <input [ngModelOptions]="{standalone: true}" [(ngModel)]="recvAddMarks" type="number"
                                   max="25" min="0" value="0" id="r_marks">
                            <br>
                            <br>

                            <div class="card text-white bg-dark mb-3"  >
                                <div class="card-header">Content body</div>
                                <div class="card-body">
                                    <h4>{{jsonActivity1.body}}</h4>
                                </div>
                            </div>
                            <input [ngModelOptions]="{standalone: true}" [(ngModel)]="contentBodyMarks" type="number"
                                   max="25" min="0" value="0" id="c_marks">

                            <br>
                            <br>

                            <div class="card text-white bg-dark mb-3"  >
                                <div class="card-header">Complimentary close</div>
                                <div class="card-body">
                                    <h4>{{jsonActivity1.complimentary_close}}</h4>
                                </div>
                            </div>
                            <input [ngModelOptions]="{standalone: true}" [(ngModel)]="compcloseMarks" type="number"
                                   max="25" min="0" value="0" id="re_marks">
                            <br>
                            <br>
                            <br>
                            <textarea [ngModelOptions]="{standalone: true}" [(ngModel)]="letterRemarks"
                                      class="form-control" id="exampleTextarea" rows="3"></textarea>
                        </div>
                    </fieldset>
                </form>

                <form>
                    <fieldset>
                        <div class="row">
                            <div class="col">
                                <input type="text" readonly="" class="form-control-plaintext" id="marks">

                            </div>
                            <div class="col">

                            </div>
                        </div>
                    </fieldset>
                </form>
                <h2> Marks : {{totmarksLetter}}</h2>

                <button type="button" (click)=" saveMarksOfActivity1()" class="btn btn-secondary">CONFIRM EVALUATION</button>
            </div>




            <div *ngIf="activityNumber=='2'" class="jumbotron">
                <form (change)="activity2Change()" >
                    <fieldset>
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th scope="col">Silent S</th>
                        <th scope="col">Silent L</th>
                        <th scope="col">Silent K</th>
                        <th scope="col">Silent N</th>
                        <th scope="col">Silent T</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="table-active">
                        <td  >
                            <div
                            >                {{jsonActivity1.silent_s_1}} </div>
                        </td>
                        <td>
                            <div id="div2" >{{jsonActivity1.silent_l_1}}</div>
                        </td>
                        <td>
                            <div id="div3" >{{jsonActivity1.silent_k_1}}</div>
                        </td>
                        <td>
                            <div id="div4" >{{jsonActivity1.silent_n_1}}</div>
                        </td>
                        <td>
                            <div id="div5" >{{jsonActivity1.silent_t_1}}</div>
                        </td>
                    </tr>
                    <tr>
                        <td  >
                            <div id="div6" >{{jsonActivity1.silent_s_2}}</div>
                        </td>
                        <td>
                            <div id="div7" >   {{jsonActivity1.silent_l_2}} </div>
                        </td>
                        <td>
                            <div id="div8" >  {{jsonActivity1.silent_k_2}}</div>
                        </td>
                        <td>
                            <div id="div9"  > {{jsonActivity1.silent_n_2}}</div>
                        </td>
                        <td>
                            <div id="div10" > {{jsonActivity1.silent_t_2}}</div>
                        </td>
                    </tr>
                    <tr>
                        <td  >
                            <input [ngModelOptions]="{standalone: true}" [(ngModel)]="silentsMarks" type="number"
                                   max="20" min="0" value="0" id="silentsMarks">
                        </td>
                        <td>
                            <input [ngModelOptions]="{standalone: true}" [(ngModel)]="silentlMarks" type="number"
                                   max="20" min="0" value="0" id="silentlMarks">
                        </td>
                        <td>
                            <input [ngModelOptions]="{standalone: true}" [(ngModel)]="silentkMarks" type="number"
                                   max="20" min="0" value="0" id="silentkMarks">
                        </td>
                        <td>
                            <input [ngModelOptions]="{standalone: true}" [(ngModel)]="silentNMarks" type="number"
                                   max="20" min="0" value="0" id="silentNMarks">
                        </td>
                        <td>
                            <input [ngModelOptions]="{standalone: true}" [(ngModel)]="silentTMarks" type="number"
                                   max="20" min="0" value="0" id="silentTMarks">
                        </td>
                    </tr>
                    </tbody>
                </table>
                        <textarea [ngModelOptions]="{standalone: true}" [(ngModel)]="activity2Remarks"
                                  class="form-control" id="activity2Remarks" rows="3"></textarea>

                    </fieldset>
                </form>
                <h2> Marks : {{totactivity2}}</h2>

                <button type="button" (click)=" saveMarksOfActivity2()" class="btn btn-secondary">CONFIRM EVALUATION</button>
            </div>

        </div>

    </div>
</div>