<div class="container">
    <div class="card ">
        <div class="jumbotron" style=" ">


            <!--<img src="../../../../assets/img/wallpaper/trophy.jpg">-->

            <table class="achv-table" width="100%">
                <thead>
                <tr>
                    <th width="10%">Activity</th>
                    <th>Silver</th>
                    <th>Gold</th>
                    <th>Bronze</th>
                </tr>
                </thead>

                <tbody>

                <tr class="w3-sand">
                    <td class="w3-leftbar ">
                        <h1>1</h1>

                    </td>
                    <td>
                        <div class="  a silver">

                        </div>
                        <h2 style="bottom: 0; text-align: center">{{activity1[1].SID}}</h2>
                        <h3>{{activity1[1].mark}}</h3>

                    </td>
                    <td>
                        <div class="  a gold"></div>
                        <h2 style="bottom: 0; text-align: center ">{{activity1[0].SID}}</h2>
                        <h3>{{activity1[0].mark}}</h3>
                    </td>
                    <td>
                        <div class="  a bronze"></div>
                        <h2 style="bottom: 0; text-align: center ">{{activity1[2].SID}}</h2>
                        <h3>{{activity1[2].mark}}</h3>
                    </td>
                </tr>


                <tr class="w3-sand">
                    <td class="w3-leftbar ">
                        <h1>2</h1>

                    </td>
                    <td>
                        <div class="  a silver">

                        </div>
                        <h2 style="bottom: 0; text-align: center ">{{activity2[1].SID}}</h2>
                        <h3>{{activity2[1].mark}}</h3>

                    </td>
                    <td>
                        <div class="  a gold"></div>
                        <h2 style="bottom: 0; text-align: center ">
                            {{activity2[0].SID}}</h2>
                        <h3>{{activity2[0].mark}}</h3>
                    </td>
                    <td>
                        <div class="  a bronze"></div>
                        <h2 style="bottom: 0; text-align: center ">{{activity2[2].SID}}</h2>
                        <h3>{{activity2[2].mark}}</h3>
                    </td>
                </tr>


                </tbody>

            </table>

        </div>
    </div>
</div>