@import url('https://fonts.googleapis.com/css?family=Pacifico');

.chatButton {
  position: fixed;
  left: 0;
  bottom: 0;
  -moz-box-shadow: inset 0px 1px 0px 0px #fbafe3;
  -webkit-box-shadow: inset 0px 1px 0px 0px #fbafe3;
  box-shadow: inset 0px 1px 0px 0px #fbafe3;
  background-color: #ff5bb0;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  border: 1px solid #ee1eb5;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: 'Pacifico', cursive;
  font-size: 25px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #c70067;
}

.chatButton:hover {
  background-color: #ef027d;

}

.chatButton:active {
  position: fixed;
  //top: 1px;
}

.w3-card-4 {
  position: fixed;
  bottom: 0;
  left: 0px;
}

.chatBox {
  animation-name: chatAnim;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-delay: 1s;

}

@keyframes chatAnim {
  from {
    bottom: 0;
    left: 0;
  }
  to {
    bottom: -500px;
    left: 0;
  }
}

.b-agent-demo_header{
  display: none;
}
