<!-- <div class="btn-group btn-group-toggle" data-toggle="buttons">
        <label class="btn btn-outline-secondary">
          <input routerLink="regiter-student" type="button" checked="" autocomplete="off"> Register Student
        </label>
        <label class="btn btn-outline-secondary">
          <input  routerLink="result-reporting" type="button" autocomplete="off"> Check results
        </label>
        <label class="btn btn-outline-secondary">
          <input  type="button" autocomplete="off"> Check
        </label>
      </div> -->


      <div class="btn-group btn-group-toggle" data-toggle="buttons">
            <label class="btn btn-outline-secondary">
              <a routerLink="register-student" type="radio" name="options" id="option1" autocomplete="off" checked=""> Register Student
              </a>
            </label>
            <label class="btn btn-outline-secondary">
              <a routerLink="result-reporting" type="radio" name="options" id="option2" autocomplete="off"> Check results
           </a>
            </label>
            <label class="btn btn-outline-secondary">
                <a routerLink="evaluation-reporting" type="radio" name="options" id="option3" autocomplete="off"> Evaluate</a>
            </label>
          </div>
    <router-outlet></router-outlet>u8