<nav class="navbar navbar-expand-lg navbar-dark nav-bar-grad navbar-fixed-top">
    <!--<a class="navbar-brand" href="#">FabuLo-->
    <!--<Strong style="font-size:150%">us</Strong>-->
    <!--</a>-->
    <a class="@navbar-brand">

    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
            aria-controls="navbarColor01"
            aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" routerLink="/">Home
                    <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/features">Features</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/pricing">Pricing</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/about">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/activity-page">Lessons</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/admin">Admin</a>
            </li>
        </ul>
        <form *ngIf="!showUser" class="form-inline my-2 my-lg-0" (ngSubmit)="login()">
            <input class="form-control mr-sm-2" type="text" placeholder="username" [(ngModel)]="logincred.username"
                   name="username">
            <input class="form-control mr-sm-2" type="password" [(ngModel)]="logincred.password" name="password"
                   placeholder="password">
            <button class="btn btn-link  btn-lg" type="submit">Login</button>

        </form>
    </div>
    <img data-toggle="tooltip" data-placement="left" title="" data-original-title="Tooltip on left" *ngIf="showUser"
         src="assets/img/user/avatar.png" style="width:4%" class="w3-hover-opacity w3-image w3-circle w3-border ">

    <button *ngIf="showUser" class="btn btn-link" (click)="logout()" type="button">Logout</button>

</nav> 